.display{
  width: 80%;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 10px auto;
  background: rgba(226, 226, 226, 0.6);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: 2fr .5fr .6fr;
}

.wordOutput{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 5px;
  text-align: center;
}
.wordOutput p{
  font-family: generalText;
  font-size: 16px;
}

#pokemonName{
  font-size: 48px;
  margin-top: 80px;
  font-family: generalText;
}

.guessed{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 5px;
  font-family: generalText;
  font-size: 12px;
  padding-left: 10px;
  text-align: center;
  height: 3em;
}

#usedLetters{
  margin-left: 5px;
}

.display-bottom-row{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 5px;
}

.lives {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  font-family: generalText;
  font-size: 12px;
  padding: 2px;
  width: 100%; }

.lives img{
  width: 50px;
  margin: 0 auto;
}

.score{
  font-family: generalText;
  width: 100%;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  #score{
    font-size: 28px;
  }
}

#hintBttn {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: 0;
  float: right;
  width: 50%;
  margin-right: 25%; }

#hintBox {
  text-align: center;
  padding-top: 50px;
  font-family: generalText; }

.typeTitle{
  font-size: 12px;}

#type{
  margin: 40px auto 40px auto;
  padding: 20px 0px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: generalText;
  font-size: 10px;
}
#type2{
  margin: 10px auto;
  padding: 20px 0px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: generalText;
  font-size: 10px;
}

.display-right-column{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: 5px;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.timerSection{
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  font-family: generalText;
  font-size: 12px;
  padding: 2px;
  #timer{
    font-size: 28px;
  }
}
