.keyboard{
  width: 80%;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 10px auto;
  background: rgba(226, 226, 226, 0.5);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: auto auto;
}

.row1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.row2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#resetBttn{
  float: right;
  background-color: #66c2ff;
  margin: 20px;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
