.keyboard{
  width: 80%;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 10px auto;
  background: rgba(226, 226, 226, 0.6);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 9fr 2fr;
  grid-template-rows: auto auto;
}

.row1{
  margin-top: 5px;
  margin-left: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.row2{
  margin-left: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.letters{
  width: 60px;
  height: 50px;
  margin-left: 3px;
  border-radius: 5px;
  font-family: generalText;
}
.letters:focus{
  outline:none;
}
.letters:hover{
  background-color: #80ccff;
}
.letters:active{
  background-color: #4db8ff;
}

.resetKey{
  float: right;
  width: 100%;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}
#resetBttn{
  background-color: #ffffff;
  display: block;
  width: 80%;
  height: 90%;
  margin-top: 5px;
  margin-left: 5px;
  justify-content: center;
  border-radius: 5px;
  font-family: generalText;
  font-size: 18px;
}
#resetBttn:focus{
  outline: none;
}
#resetBttn:hover{
  background-color: #80ccff;
}
#resetBttn:active{
  background-color: #4db8ff;
}
