.modalWin {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.contentWin{
    border-radius: 5px;
    position: relative;
    background-color: #ccffcc;
    margin: 0 auto;
    padding: 0;
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-family: generalText;
  }

.pokeText{
  position: absolute;
  color: #99ff99;
  z-index: 4;
  right: 50px;
  bottom: 130px;
}

.bgWhite{
  width: 65%;
  height: 500px;
  background-color: white;
  position: absolute;
  display: inline;
  top: 2px;
  left: 2px;
}

#dex{
  width: 100%;
  display: block;
  border-radius: 5px;
  position: relative;
  z-index: 3;
}

#profOak{
  position: absolute;
  width: 20%;
  z-index: 2;
  top: 30px;
  right: 50px;
}

.dexDisplay{
  position: absolute;
  width: 60%;
  top: 70px;
  left: 20px;
}

#pokeImg{
  max-width: 250px;
  position: absolute;
  left: 60px;
}

#pokeImg2{
  width: 100px;
  position: absolute;
  right: 80px;
  top: 60px;
}

.dexInfo{
  position: absolute;
  width: 59%;
  bottom: 100px;
  left: 20px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  background-color: #ccffcc;
  border-radius: 5px;
}

#resetLink{
  text-decoration: none;
  color: #99ff99;
  font-size: 18px;
}

#resetLink:hover{
  font-weight: bold;
  text-shadow: 0 0px 3px #ccffcc;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
